* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #fff;
    --main-color: #4c2892;
    --text-color: #010101;
    --2nd-color: #434343;
    --3rd-color: #666;
}

body {
color: var(--text-color);
background-color: var(--bg-color);
}

/* Typography */
h1 {
    font-size: 5rem;
}
h2 {
font-size: 2.3rem;}
p {
    font-size: 1.3rem
}
a {
    color: var(--text-color);
}
/* Navbar */
nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: var(--bg-color);
    box-shadow: 0 1px 6px 0 rgb(32, 33, 36 , .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img {
width: 100%;
height: auto;
}
.logo span {
    color: #000;
    font-weight: bold;
}

.navbar {
    display: flex;
}

.navbar a {
font-size: 15px;
font-weight: 500;
margin: 10px 22px;
transition: all 0.3s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.h-icons {
    display:flex;
    align-items: center;
}

.h-icons i {
    font-size: 20px;
    margin-left: 3px;
    margin-right: 8px;
    transition: all .3s ease;
}
.h-icons i:hover {
    color: var(--main-color);
    transform: translateY(-4px);
}